*.mat filter=lfs diff=lfs merge=lfs -binary
*.svg filter=lfs diff=lfs merge=lfs -binary
*.png filter=lfs diff=lfs merge=lfs -binary
*.jpg filter=lfs diff=lfs merge=lfs -binary
*.jpeg filter=lfs diff=lfs merge=lfs -binary
*.rhs filter=lfs diff=lfs merge=lfs -binary
*.rhd filter=lfs diff=lfs merge=lfs -binary
